In [40]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LassoCV, BayesianRidge
import matplotlib.pylab as plt

In [41]:
Loan = pd.read_excel(r'D:\Business Analytics\Capstone Project\Datasets\Loan Data.xlsx')

In [43]:
Loan.head()

,Index,Employed,Bank Balance,Annual Salary,Defaulted?,Gender,Age,Marital Status,Dependents,Urban,Own House,Credit Rating
0,1,1,8754.36,532339.56,0,Male,26,Married,4,0,0,6.6
1,2,0,9806.16,145273.56,0,Male,29,Single,3,1,0,7.2
2,3,1,12882.60,381205.68,0,Male,43,Single,4,0,1,4.1
3,4,1,6351.00,428453.88,0,Female,33,Divorced,1,0,0,9.2
4,5,1,9427.92,461562.00,0,Female,50,Married,5,0,1,9.3

In [15]:
Loan.shape

(10000, 12)

In [44]:
Loan.describe()

,Index,Employed,Bank Balance,Annual Salary,Defaulted?,Age,Dependents,Urban,Own House,Credit Rating
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,0.705600,10024.498524,402203.782224,0.033300,42.973400,3.000200,0.505300,0.498400,7.018920
std,2886.89568,0.455795,5804.579486,160039.674988,0.179428,12.935997,1.415839,0.499997,0.500022,1.763426
min,1.00000,0.000000,0.000000,9263.640000,0.000000,21.000000,1.000000,0.000000,0.000000,4.000000
25%,2500.75000,0.000000,5780.790000,256085.520000,0.000000,32.000000,2.000000,0.000000,0.000000,5.500000
50%,5000.50000,1.000000,9883.620000,414631.740000,0.000000,43.000000,3.000000,1.000000,0.000000,7.000000
75%,7500.25000,1.000000,13995.660000,525692.760000,0.000000,54.000000,4.000000,1.000000,1.000000,8.500000
max,10000.00000,1.000000,31851.840000,882650.760000,1.000000,65.000000,5.000000,1.000000,1.000000,10.000000

In [48]:
predictors = ['Annual Salary', 'Dependents', 'Credit Rating', 'Age','Bank Balance','Gender','Own House','Urban','Employed']
outcome = 'Defaulted?'

In [49]:
from dmba import regressionSummary, exhaustive_search
from dmba import backward_elimination, forward_selection, stepwise_selection
from dmba import adjusted_r2_score, AIC_score, BIC_score

In [50]:
X = pd.get_dummies(Loan[predictors], drop_first=True)
y = Loan[outcome]
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.35, random_state=1)

Loan_lm = LinearRegression()
Loan_lm.fit(train_X, train_y)

LinearRegression()

In [51]:
train_X

,Annual Salary,Dependents,Credit Rating,Age,Bank Balance,Own House,Urban,Employed,Gender_Male
4825,539594.52,3,6.2,21,11889.72,1,1,1,0
4606,255565.44,3,6.6,64,7628.88,0,1,1,1
9482,401880.12,3,10.0,58,3247.08,1,0,1,1
3761,532650.84,4,5.9,43,0.00,1,1,1,1
8756,478531.32,2,6.9,22,15939.96,1,0,1,0
...,...,...,...,...,...,...,...,...,...
2895,201708.12,2,6.7,21,15241.08,1,0,0,0
7813,469960.32,4,5.9,41,19176.24,0,1,1,0
905,375760.44,3,5.8,64,14813.76,1,1,1,0
5192,351871.56,5,4.1,33,0.00,0,0,1,0
235,412689.00,5,9.9,45,11577.84,0,0,1,0

In [52]:
print('intercept ', Loan_lm.intercept_)
print(pd.DataFrame({'Predictor': X.columns, 'coefficient': Loan_lm.coef_}))

intercept  -0.11603273440754185
       Predictor   coefficient
0  Annual Salary  1.559753e-08
1     Dependents  1.182216e-03
2  Credit Rating  9.459350e-04
3            Age  1.580776e-04
4   Bank Balance  1.160133e-05
5      Own House  1.256237e-03
6          Urban  4.454367e-03
7       Employed  1.483805e-02
8    Gender_Male -4.554999e-03

In [53]:
regressionSummary(train_y, Loan_lm.predict(train_X))

Regression statistics

               Mean Error (ME) : -0.0000
Root Mean Squared Error (RMSE) : 0.1704
     Mean Absolute Error (MAE) : 0.0834

In [54]:
pred_y = Loan_lm.predict(train_X)

print('adjusted r2 : ', adjusted_r2_score(train_y, pred_y, Loan_lm))
print('AIC : ', AIC_score(train_y, pred_y, Loan_lm))
print('BIC : ', BIC_score(train_y, pred_y, Loan_lm))

adjusted r2 :  0.1299264142102402
AIC :  -4536.9177198024845
BIC :  -4462.3425877877635

In [55]:
Loan_lm_pred = Loan_lm.predict(test_X)

result = pd.DataFrame({'Predicted': Loan_lm_pred, 'Actual': test_y,
                       'Residual': test_y - Loan_lm_pred})
print(result.head(12))

# Compute common accuracy measures
regressionSummary(test_y, Loan_lm_pred)

      Predicted  Actual  Residual
9953   0.002252       0 -0.002252
3850   0.055304       0 -0.055304
4962   0.016403       0 -0.016403
3886   0.034366       0 -0.034366
5437   0.121765       0 -0.121765
8517   0.106614       0 -0.106614
2041   0.030466       0 -0.030466
1989   0.054483       0 -0.054483
1933   0.036239       0 -0.036239
9984   0.038124       0 -0.038124
8418  -0.014402       0  0.014402
2418   0.000879       0 -0.000879

Regression statistics

               Mean Error (ME) : -0.0037
Root Mean Squared Error (RMSE) : 0.1633
     Mean Absolute Error (MAE) : 0.0812

In [57]:
def train_model(variables):
    model = LinearRegression()
    model.fit(train_X[variables], train_y)
    return model

def score_model(model, variables):
    pred_y = model.predict(train_X[variables])
    # we negate as score is optimized to be as low as possible
    return -adjusted_r2_score(train_y, pred_y, model)

allVariables = train_X.columns
results = exhaustive_search(allVariables, train_model, score_model)

data = []
for result in results:
    model = result['model']
    variables = result['variables']
    AIC = AIC_score(train_y, model.predict(train_X[variables]), model)
    
    d = {'n': result['n'], 'r2adj': -result['score'], 'AIC': AIC}
    d.update({var: var in result['variables'] for var in allVariables})
    data.append(d)
pd.set_option('display.width', 100)
print(pd.DataFrame(Loan, columns=('n', 'r2adj', 'AIC') + tuple(sorted(allVariables))))
pd.reset_option('display.width')

       n  r2adj  AIC  Age  Annual Salary  Bank Balance  Credit Rating  Dependents  Employed  \
0    NaN    NaN  NaN   26      532339.56       8754.36            6.6           4         1
1    NaN    NaN  NaN   29      145273.56       9806.16            7.2           3         0
2    NaN    NaN  NaN   43      381205.68      12882.60            4.1           4         1
3    NaN    NaN  NaN   33      428453.88       6351.00            9.2           1         1
4    NaN    NaN  NaN   50      461562.00       9427.92            9.3           5         1
...   ..    ...  ...  ...            ...           ...            ...         ...       ...
9995 NaN    NaN  NaN   42      635908.56       8538.72            6.7           1         1
9996 NaN    NaN  NaN   26      235928.64       9095.52            6.9           5         1
9997 NaN    NaN  NaN   33      703633.92      10144.92            4.7           5         1
9998 NaN    NaN  NaN   63      440029.32      18828.12            5.3           2         1
9999 NaN    NaN  NaN   58      202355.40       2411.04            4.2           4         0

      Gender_Male  Own House  Urban
0             NaN          0      0
1             NaN          0      1
2             NaN          1      0
3             NaN          0      0
4             NaN          1      0
...           ...        ...    ...
9995          NaN          1      1
9996          NaN          1      0
9997          NaN          1      0
9998          NaN          0      0
9999          NaN          1      0

[10000 rows x 12 columns]

In [58]:
def train_model(variables):
    model = LinearRegression()
    model.fit(train_X[variables], train_y)
    return model

def score_model(model, variables):
    return AIC_score(train_y, model.predict(train_X[variables]), model)

best_model, best_variables = backward_elimination(train_X.columns, train_model, score_model, verbose=True)

print(best_variables)

Variables: Annual Salary, Dependents, Credit Rating, Age, Bank Balance, Own House, Urban, Employed, Gender_Male
Start: score=-4536.92
Step: score=-4538.83, remove Own House
Step: score=-4540.23, remove Annual Salary
Step: score=-4541.62, remove Credit Rating
Step: score=-4543.02, remove Dependents
Step: score=-4544.01, remove Age
Step: score=-4544.95, remove Urban
Step: score=-4545.79, remove Gender_Male
Step: score=-4545.79, remove None
['Bank Balance', 'Employed']

In [59]:
regressionSummary(test_y, best_model.predict(test_X[best_variables]))

Regression statistics

               Mean Error (ME) : -0.0037
Root Mean Squared Error (RMSE) : 0.1633
     Mean Absolute Error (MAE) : 0.0812

In [60]:
def train_model(variables):
    if len(variables) == 0:
        return None
    model = LinearRegression()
    model.fit(train_X[variables], train_y)
    return model

def score_model(model, variables):
    if len(variables) == 0:
        return AIC_score(train_y, [train_y.mean()] * len(train_y), model, df=1)
    return AIC_score(train_y, model.predict(train_X[variables]), model)

best_model, best_variables = forward_selection(train_X.columns, train_model, score_model, verbose=True)

print(best_variables)

Variables: Annual Salary, Dependents, Credit Rating, Age, Bank Balance, Own House, Urban, Employed, Gender_Male
Start: score=-3641.26, constant
Step: score=-4531.52, add Bank Balance
Step: score=-4545.79, add Employed
Step: score=-4545.79, add None
['Bank Balance', 'Employed']

In [61]:
best_model, best_variables = stepwise_selection(train_X.columns, train_model, score_model, verbose=True)

print(best_variables)

Variables: Annual Salary, Dependents, Credit Rating, Age, Bank Balance, Own House, Urban, Employed, Gender_Male
Start: score=-3641.26, constant
Step: score=-4531.52, add Bank Balance
Step: score=-4545.79, add Employed
Step: score=-4545.79, unchanged None
['Bank Balance', 'Employed']

In [65]:
scaler = preprocessing.StandardScaler()
scaler.fit(Loan[['Bank Balance', 'Employed']])

StandardScaler()

In [78]:
LoanNorm = pd.concat([pd.DataFrame(scaler.transform
(Loan['Bank Balance', 'Employed']),columns=['Bank Balance', 
'Employed'], Loan['Defaulted?'], axis=1)
train = LoanNorm.iloc[trainLoan.index]
validNorm = LoanNorm.iloc[validData.index]
newHouseholdNorm = pd.DataFrame(scaler.transform(newHousehold),
columns=['Bank Balance', 'Employed']

SyntaxError: invalid syntax (<ipython-input-78-2483e994fecd>, line 4)